
<% include ../layout/header.ejs %>
  <div class="reset-password">
    <p>Hi <%= user.username %></p>
    <p>You recently requested a new password on Phrase.fm. Click the button below to reset your password.</p>
    <% include ../partials/callToAction %>
  </div>
<% include ../layout/footer.ejs %>
