
<!-- Button : Begin -->
<tr>
  <td bgcolor="#ffffff">
    <table class="button-container" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
      <tr>
        <td class="button-td">
          <a href="<%= callToAction.href %>" class="button-a">
              &nbsp;&nbsp;&nbsp;&nbsp;<span><%= button.text %></span>&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Button : END -->
