<!-- Hero Image, Flush : BEGIN -->
<tr class="hero-image">
    <td bgcolor="#ffffff">
        <img src="<%= imgURL %>/<%= heroImage.img %>" width="600" height="" alt="<%= heroImage.alt %>" border="0" align="center">
    </td>
</tr>
<!-- Hero Image, Flush : END -->
