
<!-- 1 Column Text: BEGIN -->
<tr>
  <td bgcolor="#ffffff">
    <table class="one-column-text" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td>
          <% oneColumnText.forEach(paragraph => { %>
            <%= paragraph %>
            <br><br>
          <% }) %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text: END-->
