a,
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
// Dark themed links
.link-dark {
  color: #AAA;

  &:active, &.active,
  &:focus, &.focus,
  &:hover, &.hover {
    color: #FFF;
  }
}

.btn-link {
  text-decoration: none !important;
}

.btn {
  outline: none !important;

  &.disabled,
  &[disabled] {
    opacity: 0.5;
  }
}

.btn-round {
  border-radius: 18px;
}

.btn-narrow {
  padding-left: 6px;
  padding-right: 6px;
}

.btn-group-dark {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn-dark {
  border-color: #111;
  box-shadow: inset 0 1px 6px -2px #AAA;
  background: #666;
  background-image: linear-gradient(to bottom, #666, #444);
  color: #CCC;
  text-shadow:
    -0.5px -0.5px 0px #000,
     0.5px  0.5px 0px #000,
     0.5px -0.5px 0px #000,
    -0.5px  0.5px 0px #000;

  &.disabled,
  &[disabled] {
    color: #777 !important;
    box-shadow: inset 0 1px 6px -2px #AAA !important;
    text-shadow: none !important;
  }
}
.btn.unsaved {
  border-top: 2px solid rgb(33, 207, 40);
}
.btn-primary,
.btn-bright {
  border-color: #222;
  box-shadow: inset 0 1px 6px -1px #FFF;
  background: #444;
  background-image: linear-gradient(to bottom, #AAA, #888);
  color: #333;
  font-weight: bold;
  text-shadow: 0 0 10px #CCC;

  &:focus {
    text-shadow: 0 0 10px #FFF;
  }

  &.active,
  &:active,
  &:hover {
    text-shadow:
      0 0  5px #FFF,
      0 0 10px #FFF,
      0 0 15px #FFF;
  }

  &.disabled,
  &[disabled] {
    color: #777 !important;
    box-shadow: inset 0 1px 6px -1px #FFF !important;
    text-shadow: none !important;
  }
}
.btn-primary {
  $btn-primary-color: #FA4;
  background: $btn-primary-color;
  background-image: linear-gradient(to bottom, $btn-primary-color, darken($btn-primary-color, 15%));
  color: #333 !important;
  text-shadow: 0 0 10px lighten($btn-primary-color, 20%);

  &.active,
  &:active {
    background: darken($btn-primary-color, 20%);
    background-image: linear-gradient(to bottom, darken($btn-primary-color, 15%), $btn-primary-color);
  }
}
.btn-glow {
  color: #888;

  transition: color 0.125s, text-shadow 0.125s;
}
.btn-dark,
.btn-glow {
  &:hover,
  &:focus {
    color: #FFF;
  }

  &.active,
  &:active {
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
  }
  &.active-red {
    color: #844;
  }
  &.active-green {
    color: #484;
  }
  &.active {
    &.active-red {
      color: #F00;
      text-shadow: 0 0 16px #F44;
    }
    &.active-green {
      color: #0F0;
      text-shadow: 0 0 16px #8F8;
    }
  }
}

.btn-facebook {
  background-image: linear-gradient(to bottom, #4B68B9, #3B55A1);
  color: #FFF;

  &.disabled,
  &[disabled] {
    color: #AAA !important;
  }
}
.btn-twitter {
  background-image: linear-gradient(to bottom, #1B95E0, #0B72B1);
  color: #FFF;

  &.disabled,
  &[disabled] {
    color: #AAA !important;
  }
}

// When against a light background, reduce contrast
.btn-light-bg {
  border-color: #777;
}

.ladda-button {
  -webkit-font-smoothing: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  line-height: 0;
  padding-bottom: 2px;
}

.notification-count {
  position: relative;
  top: -0.75em;
  margin-left: -6px;

  border-radius: 5px;
  padding: 1px 4px 1px 3px;
  background: #E00;
  font-family: $font-family-base;
  font-weight: bold;
  font-size: 10px;
  color: #FFF;
  box-shadow: 0 0 0px 2px #333;
}

.signal {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-bottom: 0px;
  margin-right: 4px;

  border-radius: 50%;
  box-shadow: inset 0 0px 3px 1.5px #000;
  background: #888;
  background-image:
    radial-gradient(circle at 50% 35%, #FFF 0%, transparent 50%),
    radial-gradient(circle at 50% 50%, #888 50%, #000 100%);
}
.signal-green {
  background-color: #0F0;
  background-image:
    radial-gradient(circle at 50% 35%, #FFF 0%, transparent 50%),
    radial-gradient(circle at 50% 50%, #0F0 50%, #000 100%);
}
.signal-red {
  background-color: #F00;
  background-image:
    radial-gradient(circle at 50% 35%, #FFF 0%, transparent 50%),
    radial-gradient(circle at 50% 50%, #F00 50%, #000 100%);
}
