// ----------------------------------------------------------------------------
// Mouse Cursor
// ----------------------------------------------------------------------------
// Prevent user text selection of non form elements
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.enable-select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

// Show explicit custom cursors
.cursor-default        { cursor: default;                                                     }
.cursor-copy         * { cursor: copy      !important;                                        }
.cursor-xresize      * { cursor: ew-resize !important;                                        }
.cursor-yresize      * { cursor: ns-resize !important;                                        }
.cursor-rowresize    * { cursor: row-resize !important;                                       }
.cursor-colresize    * { cursor: col-resize !important;                                       }
.cursor-drag         * { cursor: grab      !important;   cursor: -webkit-grab     !important; }
.cursor-grabbing     * { cursor: grabbing  !important;   cursor: -webkit-grabbing !important; }
.cursor-move         * { cursor: move      !important;                                        }
@mixin cursor-left()          { cursor: url(img/cursor-left-edge.ico)      0  7, ew-resize !important; }
@mixin cursor-right()         { cursor: url(img/cursor-right-edge.ico)    15  7, ew-resize !important; }
@mixin cursor-top()           { cursor: url(img/cursor-top-edge.ico)       7  0, ns-resize !important; }
@mixin cursor-bottom()        { cursor: url(img/cursor-bottom-edge.ico)    7 15, ns-resize !important; }
@mixin cursor-loop()          { cursor: url(img/cursor-loop-edge.png)      3 11, ew-resize !important; }
@mixin cursor-right-clip()    { cursor: url(img/cursor-right-clip.png)     3 11, ew-resize !important; }
@mixin cursor-right-loop()    { cursor: url(img/cursor-right-loop.png)     3 11, ew-resize !important; }
@mixin cursor-right-clipped() { cursor: url(img/cursor-right-clipped.png)  3 11, ew-resize !important; }
@mixin cursor-right-looped()  { cursor: url(img/cursor-right-looped.png)   3 11, ew-resize !important; }
@mixin cursor-scissors()      { cursor: url(img/cursor-scissors.png)       3 6, ew-resize !important; }
@mixin cursor-eraser()      { cursor: url(img/cursor-eraser.png)       3 3, ew-resize !important; }
@mixin cursor-pencil()      { cursor: url(img/cursor-pencil.png)       3 0, ew-resize !important; }
@mixin cursor-velocity()    { cursor: url(img/cursor-velocity.png)     3 0, ew-resize !important; }
@mixin cursor-comment()     { cursor: url(img/cursor-comment.png)      3 0, ew-resize !important; }
.cursor-left            * { @include cursor-left();   }
.cursor-right           * { @include cursor-right();  }
.cursor-top             * { @include cursor-top();    }
.cursor-bottom          * { @include cursor-bottom(); }
.cursor-loop            * { @include cursor-loop();   }
.cursor-right-clip      * { @include cursor-right-clip();     }
.cursor-right-loop      * { @include cursor-right-loop();     }
.cursor-right-clipped   * { @include cursor-right-clipped();  }
.cursor-right-looped    * { @include cursor-right-looped();   }
.cursor-scissors        * { @include cursor-scissors();   }
.cursor-eraser          * { @include cursor-eraser();   }
.cursor-pencil          * { @include cursor-pencil();   }
.cursor-velocity        * { @include cursor-velocity();   }
.cursor-comment         * { @include cursor-comment();   }


// ----------------------------------------------------------------------------
// Timeline Playhead
// ----------------------------------------------------------------------------
.timeline-playhead-window { // Used to set cutoff (overflow: hidden;)
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
  z-index: 6; // Above Comment Range

  pointer-events: none;
  overflow: hidden;
}
.timeline-playhead-grid { // Used for aligning to the grid system
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-playhead-grip {
  display: none;

  margin-left: -2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 5px;
  z-index: 5;  // Above all other track layers

  pointer-events: all;
  cursor: ew-resize;
}
.timeline-playhead {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 2px;
  width: 1px;

  background: #FFF;
  box-shadow: 0 -1px 3px 1px #000;

  pointer-events: none;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    border: 5px solid transparent;
    left: -4px;
    border-top-color: rgba(255,255,255,0.75);
  }
  &:after { left: -5px; }

  &.recording {
    background: #F00;
    &:before,
    &:after {
      border-top-color: #F00;
    }
  }
}

// ----------------------------------------------------------------------------
// Timeline Cursor
// ----------------------------------------------------------------------------
.timeline-cursor-window { // Used to set cutoff (overflow: hidden;)
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.timeline-cursor-grid { // Used for aligning to the grid system
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-cursor {
  display: none;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 4;  // Above all other track layers

  background: rgba(255,255,255,0.250);
}

// ----------------------------------------------------------------------------
// Selection Box
// ----------------------------------------------------------------------------
.timeline-selection-window {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.timeline-selection-grid {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-selection-box {
  position: absolute;
  z-index: 2;   // Above notes

  border: 1px solid rgba(255,255,255,0.500);
  background: rgba(255,255,255,0.050);
}

// ----------------------------------------------------------------------------
// Comment Range
// ----------------------------------------------------------------------------
.timeline-comment-range-window {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  z-index: 5;
}
.timeline-comment-range-grid {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-comment-range {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;   // Above notes

  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  background: rgba(#FFF,0.125);
  box-shadow:
    0 0 5px #000;

  animation-name: comment-range-throb;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes comment-range-throb {
  0% {
    background: rgba(#FFF,0.125);
  }
  50% {
    background: rgba(#FFF,0.250);
  }
  100% {
    background: rgba(#FFF,0.1250);
  }
}

// ----------------------------------------------------------------------------
// HINT RING (Tour Indicator)
// ----------------------------------------------------------------------------
.hint-ring {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  pointer-events: none;

  .hint-ring-a,
  .hint-ring-b,
  .hint-ring-c,
  .hint-ring-d {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 38px;
    width: 38px;

    border: 3px solid hsl(180, 100%, 50%);
    border-radius: 100%;
    animation-name: hint-ring-throb;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  .hint-ring-a { animation-delay: 1000ms; }
  .hint-ring-b { animation-delay:  200ms; }
  .hint-ring-c { animation-delay:  400ms; }
  .hint-ring-d { animation-delay:  600ms; }
}

@keyframes hint-ring-throb {
  0% {
    transform: scale(0.4, 0.4);
    opacity: 1;
  }
  100% {
    transform: scale(1.0, 1.0);
    opacity: 0;
  }
}
