// ----------------------------------------------------------------------------
// Mouse Cursor
// ----------------------------------------------------------------------------
// Prevent user text selection of non form elements
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.enable-select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

// Show explicit custom cursors
.cursor-default        { cursor: default;                                                     }
.cursor-xresize      * { cursor: ew-resize !important;                                        }
.cursor-yresize      * { cursor: ns-resize !important;                                        }
.cursor-rowresize    * { cursor: row-resize !important;                                       }
.cursor-colresize    * { cursor: col-resize !important;                                       }
.cursor-drag         * { cursor: grab      !important;   cursor: -webkit-grab     !important; }
.cursor-grabbing     * { cursor: grabbing  !important;   cursor: -webkit-grabbing !important; }
.cursor-move         * { cursor: move      !important;                                        }
@mixin cursor-left()   { cursor: url(img/cursor-left-edge.ico)   0 8, ew-resize !important;   }
@mixin cursor-right()  { cursor: url(img/cursor-right-edge.ico)  8 8, ew-resize !important;   }
@mixin cursor-top()    { cursor: url(img/cursor-top-edge.ico)    8 0, ns-resize !important;   }
@mixin cursor-bottom() { cursor: url(img/cursor-bottom-edge.ico) 8 8, ns-resize !important;   }
.cursor-left         * { @include cursor-left();   }
.cursor-right        * { @include cursor-right();  }
.cursor-top          * { @include cursor-top();    }
.cursor-bottom       * { @include cursor-bottom(); }


// ----------------------------------------------------------------------------
// Timeline Playhead
// ----------------------------------------------------------------------------
.timeline-playhead-window { // Used to set cutoff (overflow: hidden;)
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.timeline-playhead-grid { // Used for aligning to the grid system
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-playhead {
  display: none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 1px;
  z-index: 4;  // Above all other track layers

  background: rgba(255,255,255,0.75);

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    border: 6px solid transparent;
    left: -5px;
    border-top-color: rgba(255,255,255,0.75);
  }
  &:after { left: -6px; }
}

// ----------------------------------------------------------------------------
// Timeline Cursor
// ----------------------------------------------------------------------------
.timeline-cursor-window { // Used to set cutoff (overflow: hidden;)
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.timeline-cursor-grid { // Used for aligning to the grid system
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-cursor {
  display: none;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 4;  // Above all other track layers

  background: rgba(255,255,255,0.125);
}

// ----------------------------------------------------------------------------
// Selection Box
// ----------------------------------------------------------------------------
.timeline-selection-window {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.timeline-selection-grid {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
.timeline-selection-box {
  position: absolute;
  z-index: 2;   // Above notes

  border: 1px solid rgba(255,255,255,0.500);
  background: rgba(255,255,255,0.050);
}

