// Prevent user text selection of non form elements
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.enable-select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  cursor: initial;
}

// Show explicit and implicit custom cursors
.cursor-default  { cursor: default;                               }
.cursor-xresize  { cursor: ew-resize;                             }
.cursor-yresize  { cursor: ns-resize;                             }
.cursor-grab     { cursor: grab;        cursor: -webkit-grab;     }
.cursor-grabbing { cursor: grabbing;    cursor: -webkit-grabbing; }
.cursor-move     { cursor: move;                                  }

.timeline-play-head {
  display: none;

  position: absolute;
  top: -1px;
  bottom: 37px;
  left: 300px;
  width: 1px;
  z-index: 4;  // Above all other track layers

  background: #BBB;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    border: 6px solid transparent;
    left: -5px;
    border-top-color: #BBB;    
  }
  &:after { left: -6px; }
}
.timeline-cursor {
  display: none;

  position: absolute;
  top: -35px;
  bottom: 37px;
  left: 320px;
  width: 1px;
  z-index: 4;  // Above all other track layers

  background: #666;

  pointer-events: none;
}