$effects-module-header: 40px;
$effects-module-corner: 0px;
.effects-module {
  display: inline-block;
  position: relative;

  pointer-events: all;
  z-index: 2; // Above EffectsCouplers
  white-space: normal;

  border-radius: $effects-module-corner;
  box-shadow: inset  1px  1px 1px -1px #FFF,
              inset -1px -1px 1px -1px #000,
              0 0 10px #000;

  // Glossy Metal
  background: #555;
  background-image: linear-gradient(170deg, #444 0%, #666 20%, #444 23%, #333 90%, #222 100% );

  &.fill-parent {
    width: 100%;
    height: 100%;

    transition: height .25s;

    &.collapsed {
      height: 40px;
    }

    > .effects-module-body {
      height: auto !important;
    }
  }

  &.collapsed {
    .effects-module-header {
      h1 {
        .caret {
          display: none;
        }
      }
    }
    .effects-module-body {
      height: 0;
      padding-bottom: 0;
    }
  }
}
.effects-module-header {
  position: relative;
  width: 100%;
  height: $effects-module-header;

  border-radius: $effects-module-corner $effects-module-corner 0 0;

  text-shadow: 1px 1px 1px #000;
  color: #BBB;    

  padding-right: 40px;

  h1 {
    margin: 0;
    line-height: $effects-module-header;
    padding: 0 15px;

    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }  
}
.effects-module-toggle {
  position: absolute;
  top:   14px;
  right: 14px;
  cursor: pointer;
}
.effects-module-body {
  position: relative;
  padding: 0 15px 15px;
  box-sizing: content-box;
  overflow: hidden;

  transition: height .25s, padding .25s;
}
.fill-parent {
  > .effects-module-body {
    position: absolute;
    top:    40px;
    left:   15px;
    right:  15px;
    bottom: 15px;

    padding: 0;
    box-sizing: border-box;
  }
}
