$effects-chain-header: 40px;
.effects-chain {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;

  border-radius: 5px 0 0 0;
  background: #444;
}
.effects-chain-header {
  position: absolute;
  top:    0px;
  left:  0px;
  width:  $effects-chain-header;
  bottom: 0px;

  border-right: 1px solid #000;
  border-radius: 5px 0 0 0;
  box-shadow: inset  2px  2px 2px -2px #FFF,
              inset -2px -2px 2px -2px #000;

  h1 {
    transform: rotate(270deg);
    transform-origin: bottom right 0;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 200px;
    margin: 0;

    text-align: right;
    text-transform: uppercase;
    text-shadow: -1px 1px 1px #000;
    font-size: 16px;
    font-weight: bold;
    color: #BBB;    
    padding: 10px 15px;
  }  
}
.effects-chain-body {
  position: absolute;
  top:    0px;
  left:   0px + $effects-chain-header;
  right:  0px;
  bottom: 0px;

  border-right: 1px solid #000;
  box-shadow: inset  2px  2px 2px -2px #FFF,
              inset -2px -2px 2px -2px #000;

  // Brushed Metal
  background: #555;
  background-image:
    repeating-linear-gradient(left, hsla(0,0%,10%,0) 0, hsla(0,0%,10%,0)   6px, hsla(0,0%,10%,.10) 7.5px),
    repeating-linear-gradient(left, hsla(0,0%, 0%,0) 0, hsla(0,0%, 0%,0)   4px, hsla(0,0%, 0%,.03) 4.5px),
    repeating-linear-gradient(left, hsla(0,0%,10%,0) 0, hsla(0,0%,10%,0) 1.2px, hsla(0,0%,10%,.15) 2.2px);
}
