$headings-font-family: Lato, $font-family-sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:900);


.separator-bullet {
  position: relative;
  top: 1px;

  font-weight: bold;
  padding: 0 2px;
}