// Hide Spinners on Number Inputs
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-control {
  &:focus {
    border: 1px solid hsl(180,100%,30%);
  }
}
.form-control-dark {
  border: 1px solid transparent;
  background: #222;
  background-image: linear-gradient(0deg, #222 0%, #111 100% );
  box-shadow:
    inset 0px 2px 1px #000,
    0px 1px 1px #888;
  padding: 0 8px;
  color: #FFF;

  &:focus {
    border: 1px solid hsl(180,100%,50%);
  }
}
.form-control-glow {
  border: 1px solid transparent;
  background: none;
  box-shadow: none;
  padding: 0 8px;
  color: #FFF;
  font-size: 18px;

  text-shadow: 0 0 5px #AAA;
}

textarea {
  resize: none;

  &.form-control-dark {
    padding: 5px 8px;
  }
}

.clipboard-popover {
  > .popover-content {
    padding: 0 5px 5px;
  }
}

// ============================================================================
// react-select customizations to match Bootstrap
// ============================================================================
$Select-height: 28px;
$Select-border-color: hsl(180, 100%, 30%);
.Select-control:hover,
.Select-control {
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: $Select-height;
  font-size: 12px !important;
  cursor: text;
}
.is-focused {
  > .Select-control {
    border-color: $Select-border-color !important;
    box-shadow:
      0 0 8px hsla(180,100%,50%, 0.5),
      inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  }
}
.Select-input {
  height: $Select-height;
}
.Select-placeholder {
  line-height: $Select-height;
}
.Select-arrow-zone {
  padding-top: 4px;
  height: $Select-height;
}
.Select-menu-outer {
  border-color: $Select-border-color;
  font-size: 12px !important;
}
.Select-option {
  line-height: $Select-height;
  padding-top: 0;
  padding-bottom: 0;

  &.active,
  &:hover {
    background-color: hsl(180, 100%, 92%);
  }
}
