// Hide Spinners on Number Inputs
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-control {
  &:focus {
    border: 1px solid hsl(180,100%,30%);
  }
}
.form-control-dark {
  border: 1px solid transparent;
  background: #222;
  background-image: linear-gradient(0deg, #222 0%, #111 100% );
  box-shadow:
    inset 0px 2px 1px #000,
    0px 1px 1px #888;
  padding: 0 8px;
  color: #FFF;

  &:focus {
    border: 1px solid hsl(180,100%,50%);
  }
}
.form-control-glow {
  border: 1px solid transparent;
  background: none;
  box-shadow: none;
  padding: 0 8px;
  color: #FFF;
  font-size: 18px;

  text-shadow: 0 0 5px #AAA;
}

textarea {
  resize: none;

  &.form-control-dark {
    padding: 5px 8px;
  }
}

.clipboard-popover {
  > .popover-content {
    padding: 0 5px 5px;
  }
}
