$header-height: 55px;
$header-transition: 0.125s;
$header-height-mobile: 45px;

html,
body {
  height: 100%;
  background: #FFF;
}

.container {
  transition: width 0.125s, padding 0.125s;
}
.container-maximize {
  width: auto;
  padding: 0;
}
.container-safari-fix {
  transition: none;
}

// ============================================================================
// Header
// ============================================================================
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;

  border-bottom: 1px solid #CCC;
  background: #FFF;
  // Clear/Bright theme for the header
  // ---------------------------------
  // background: transparentize(#EEE, 0.1);
  // box-shadow: 0 0 10px 10px transparentize(#EEE, 0.1);
  padding: 10px 15px;

  transition: background $header-transition, height $header-transition;
  // Avoid creating unnecessary stacking contexts here with z-index

  .dropdown-toggle {
    text-decoration: none !important;
    box-shadow: none !important;
  }
}
.header-solid {
  border-bottom: 1px solid #000;
  background: #444;
  background-image: linear-gradient(165deg, #444 0%, #555 20%, #444 40%, #333 100%);
  // Clear/Bright theme for the header
  // ---------------------------------
  // box-shadow: none;
  box-shadow: 0 0 3px #222;


  color: #FFF;

  .header-user-name {
    color: #FFF;
  }
}
.header-logo {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 110px;
  height: 45px;
  margin-left: -55px;

  background-image: url('img/phrase-logo-white-text-2015-12-09.png');
  background-position: -2px -2px;
  background-size: 110px;
}
.header-search-wrapper {
  display: inline-block;
  position: relative;
}
.header-search-icon {
  position: absolute;
  top: 9px;
  right: 12px;
  z-index: 2;
  color: #888;
}
.header-search {
  width: 200px;

  border-radius: 18px;
  padding: 0 15px;
}
.header-nav-active {
  font-weight: bold;
  color: #CCC;
}
.header-user-profile-pic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.header-user-name {
  font-size: 14px;
}

@media (max-width: $screen-sm-max) {
  .header {
    padding: 5px 15px !important;
    height: $header-height-mobile;
  }
  .header-logo {
    width: 88px;
    height: 36px;
    margin-left: -44px;

    background-image: url('img/phrase-logo-white-text-2015-12-09.png');
    background-size: 88px;
  }
}

// ============================================================================
// Body
// ============================================================================
.body {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparent;
  padding: 0;

  transition: background $header-transition;
}
// If the Phrase is maximized, we fade the body to black for a nice transition
.body-faded {
  background: #222;
}
.page-header {
  background: #EEE;
  padding: 20px;
  border-bottom: 1px solid #DDD;
  margin: 0 auto 20px;
}

@media (max-width: $screen-sm-max) {
  .body {
    top: $header-height-mobile;
  }
}


// ============================================================================
// Modal
// ============================================================================
.modal-header {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  background: #DDD;
  border-color: #AAA;
}

.modal-footer {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  background: #DDD;
  border-color: #AAA;
}
