// ============================================================================
// Existing Individual Track
// ============================================================================
.mixer-track {
  position: relative;

  border: 3px solid #111;
  height: $mixer-track-height + 2px + 2px;  // Using borders as margins - account for it

  pointer-events: none;

  + .mixer-track {
    margin-top: -2px;
  }

  &.active {
    .mixer-track-control {
      background: #777;
    }
    .mixer-track-name {
      background: rgba(0,0,0,0.64);
    }
    .mixer-track-window {
      border-color: #888;
    }
  }
}
.mixer-track-control {
  position: absolute;
  top: 0;
  width: $mixer-track-control;
  left: 0;
  bottom: 0;

  border-radius: $mixer-corner 0 0 $mixer-corner;
  background: #555555;

  pointer-events: all;
}
.mixer-track-thumbnail {
  position: absolute;
  top: 7px;
  left: 7px;

  border: 1px solid #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;

  z-index: 2;

  > div {
    visibility: hidden;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    text-shadow: 0 0 10px #000;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    cursor: pointer;
    
    > div {
      visibility: visible;
    }
  }
}
.mixer-track-name {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  margin: 0;

  border-radius: $mixer-corner 0 0 $mixer-corner;
  padding: 5px 6px 0 48px;
  font-size: 12px;
  color: #000;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  pointer-events: none; // So user can click .mixer-track-control
}
.mixer-track-caret {
  display: none;

  position: absolute;
  top: 2px;
  right: 8px;

  font-size: 18px;
  color: #AAA;

  &:hover {
    cursor: pointer;
    color: #CCC;
  }
}
.mixer-track-level {
  position: absolute;
  height: 16px;
  right: 35px;
  width: 79px;
  bottom: 7px;

  border: 1px solid #111;
  border-radius: 0 2px 2px 0;
  background: #222;
  background-image: linear-gradient(to right, #080 0%, #0F0 50%, #FF0 80%, #F00 100%);
}
.mixer-track-level-muted {
  background: #222;
  background-image: linear-gradient(to right, #444, #888);
}
.mixer-track-meter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
}
.mixer-track-btn {
  position: absolute;

  border: 1px solid #222;
  background: #555;
  color: #CCC;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  padding: 0;
  width: 22px;
  line-height: 14px;
  background-image: linear-gradient(to bottom, #666 0%, #555 50%, #444 100%);

  pointer-events: all;

  &:hover {
    border-color: #000;
    background-image: linear-gradient(to bottom, #777 0%, #555 50%, #333 100%);
  }
  &:active {
    border-color: #000;
    background-image: none;
  }
}
.mixer-track-mute {
  border-radius: 2px 0 0 2px;
  left: 49px;
  bottom: 7px;

  &.active {
    border-color: #000;
    background-image: linear-gradient(to bottom, #333 0%, #111 100%);
    color: #FFF;
  }
}
.mixer-track-solo {
  left: 70px;
  bottom: 7px;

  &.active {
    background-image: linear-gradient(to bottom, #FF3 0%, #FA0 100%);
    color: #000;
  }
}
.mixer-track-arm {
  border-radius: 2px;
  right: 7px;
  bottom: 7px;
  font-size: 9px;

  &.active {
    background-image: linear-gradient(to bottom, #F55 0%, #C00 100%);
    color: #000;
  }
}
.mixer-track-window {
  position: absolute;
  top: 0;
  left: $mixer-track-control;
  right: 0;
  bottom: 0;

  border: 1px solid #555;
  border-left: 0;
  border-radius: 0 $mixer-corner $mixer-corner 0;

  pointer-events: none;
  overflow: hidden;
  z-index: 1; // Hack for getting rounded corners to mask content with overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    bottom: 0;
    z-index: 2; // On top of track contents
  }

  &:before {
    left: 0;
    box-shadow:
      inset 21px 0 20px -20px #333,
      inset 11px 0  3px -10px #000;
  }

  &:after {
    right: 0;
    border-radius: 0 $mixer-corner - 1px $mixer-corner - 1px 0;
    box-shadow:
      inset -21px 0 20px -20px #333,
      inset -11px 0  3px -10px #000;
  }
}

// ============================================================================
// New Track Button
// ============================================================================
.mixer-track-new-wrapper {
  padding: 1px 3px 5px;
}
.mixer-track-new {
  position: relative;

  border: 1px dashed transparent;
  border-radius: $mixer-corner;
  height: $mixer-track-height;
  width: 200px;
  margin: auto;

  cursor: pointer;
  pointer-events: all;

  &:hover {
    transition: border-color .1s, background .1s, box-shadow .1s;

    border-color: #F80;
    box-shadow: 0 5px 10px #111;
    background: #111;
    width: auto;

    .mixer-track-new-body {
      transition: border-color .1s, color .1s, background .1s;

      border-color: #630;
      color: #F80;
      background: #420;
      text-shadow: none;
    }
  }
}
.mixer-track-new-body {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;

  border: 1px solid transparent;
  border-radius: $mixer-corner - 1px;
  text-align: center;
  text-shadow:
     2px  0px 10px #111,
     2px  2px 10px #111,
     0px  0px 10px #111,
     0px  2px 10px #111;
  font-size: 18px;
  color: #999;
  padding: 7px 20px 0;
  background: none;
}
