$mixer-corner: 3px;
$mixer-timeline: 35px;
$mixer-track-height: 50px;
$mixer-track-tag: 8px;
$mixer-track-control: 113px;
$mixer-scrollbar-horizontal: 20px;
$mixer-scrollbar-vertical: 14px;
@import './mixer-tracks.scss';

// ============================================================================
// Mixer Console
// ============================================================================
.mixer {
  position: absolute;
  top: 7px + $mixer-timeline;
  left: 15px;
  right: 15px;
  bottom: 7px;

  border: 1px solid #000;
  border-radius: 0 0 $mixer-corner+3px $mixer-corner+3px;
  background: #111;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
    z-index: 3; // Above .mixer-track-list
    pointer-events: none;
  }
  &:before {
    top: 0;

    box-shadow: inset 0 10px 10px -8px #111;
  }
  &:after {
    bottom: $mixer-scrollbar-horizontal;

    box-shadow: inset 0 -12px 6px -8px #111;
  }

  > .timeline-cursor-window {
    top: -$mixer-timeline;
    left:   3px + $mixer-track-control + $mixer-track-tag;
    right:  0px;
    bottom: 0px;

    > .timeline-cursor-grid {
      top:  0px;
      left: 10px;
      right: 10px + 2px;
      bottom:  0px;
    }
  }

  > .timeline-playhead-window {
    top: -12px;
    left:   3px + $mixer-track-control + $mixer-track-tag;
    right:  0px;
    bottom: 0px;

    > .timeline-playhead-grid {
      top:  0px;
      left: 10px;
      right: 10px + 2px;
      bottom:  0px;
    }
  }
}
.mixer-disable-shadow-top {
  &:before {
    display: none;
  }
}
.mixer-disable-shadow-bottom {
  &:after {
    display: none;
  }
}

// ============================================================================
// Mixer Settings
// ============================================================================
.mixer-settings {
  position: absolute;
  top: -1px - $mixer-timeline;
  left: -1px;
  height: $mixer-timeline;
  width: 1px + $mixer-track-tag + $mixer-track-control + 3px;

  border-radius: $mixer-corner+3px 0 0 0;
  box-shadow: inset  5px 5px 5px -4px #000;
  background: #333;
}

// ============================================================================
// Mixer Timeline
// ============================================================================
.mixer-timeline {
  position: absolute;
  top:   -$mixer-timeline - 1px;
  left:     3px + $mixer-track-control + $mixer-track-tag;
  right:   -1px;  // Negate the outside border
  height:  $mixer-timeline;
  z-index:  2;

  border-radius: 0 $mixer-corner+3px 0 0;
  background: #222;

  > canvas {
    width: 100%;
    border-radius: $mixer-corner+3px $mixer-corner+3px 0 0;
  }

  &::after {
    content: '';
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;

    border-radius: 0 $mixer-corner+3px 0 0;
    box-shadow: inset  5px 5px 5px -4px #000,
                inset -5px 5px 5px -4px #000;
    z-index: 2;   // Above Timeline Canvas
    pointer-events: none;
  }
}

// ============================================================================
// Mixer Tracks
// ============================================================================
.mixer-track-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  z-index: 3; // Above .mixer-empty-area

  border-radius: $mixer-corner+3px 0 $mixer-corner+3px $mixer-corner+3px;
  height: 100%;

  pointer-events: none;
}
.mixer-track-list-gutter {
  position: absolute;
  top: 0;
  left: 0;
  right: $mixer-scrollbar-vertical;
  bottom: $mixer-scrollbar-horizontal;
  overflow: hidden;

  border-radius: $mixer-corner+3px;
  z-index: 3; // Above .mixer-scroll-window
              // Also: solves unclipped border-radius bug

  pointer-events: none;
}
.mixer-empty-area {
  position: absolute;
  top: 264px;
  left: 3px + $mixer-track-control + $mixer-track-tag;
  right: 0px;
  bottom: 0;
  z-index: 1; // Above mixer-tracks

  box-shadow: inset 0 0 20px 10px #111;
  background: rgba(17,17,17,0.5);

  pointer-events: none;
}
.mixer-window-control {
  position: absolute;
  top: 0;
  left: 3px + 1px + $mixer-track-control + $mixer-track-tag;
  right: 0;
  bottom: $mixer-scrollbar-horizontal;

  // Must be below .mixer-track-list (because the NEW TRACK button must be clickable!)
  // Must be above .mixer-window-focus
  z-index: 2;
}
.mixer-window-display {
  position: absolute;
  top: 0;
  left: 3px + 1px + $mixer-track-control + $mixer-track-tag;
  right: 3px + 1px + $mixer-scrollbar-vertical;
  bottom: $mixer-scrollbar-horizontal;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    bottom: 0;
  }

  &:before {
    left: 0;
    box-shadow: inset 20px 0 20px -20px #111;
  }

  &:after {
    right: 0;
    border-radius: 0 $mixer-corner $mixer-corner 0;
    box-shadow: inset -20px 0 20px -20px #111;
  }

  > canvas {
    width: 100%;
  }
}
.mixer-scrollbar-horizontal {
  position: absolute;
  left:    -1px;
  right:    2px;
  bottom: -20px;
  height:  20px;

  // Use the padding and opaque background to cover .mixer-window-focus overflows
  padding: 5px 15px 5px 1px;
  background: #111;
}
.mixer-scrollbar-vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;

  // Use the padding and opaque background to cover .mixer-window-focus overflows
  padding: 3px 3px 2px 5px;
  background: #111;
}

// ----------------------------------------------------------------------------
// Mixer Window Focus
// ----------------------------------------------------------------------------
// The focus consists of 3 elements:
// 1) .mixer-window-focus-grid
// 2) .mixer-window-focus-box
// 3) .mixer-window-focus-ring
// This is necessary to have accurate percentage position on the wrapper and 1px offset on the child.
.mixer-window-focus {
  position: absolute;
  top: 0;
  left: 3px + $mixer-track-control + $mixer-track-tag;
  right: 3px + 1px;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
  z-index: 1; // Below .mixer-window-control
}
.mixer-window-focus-grid {
  position: absolute;
  top: 0;
  left: 10px;
  right: 6px;
  bottom: 0;
}
.mixer-window-focus-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition:
    top       0.18s,
    left      0.18s,
    height    0.18s,
    width     0.18s;
}
.mixer-window-focus-ring {
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;

  border: 1px solid rgba(255,255,255,0.75);
  border-radius: 3px;
  box-shadow:
    inset 0 0 3px 1px #000,
          0 0 3px 1px #000;
}
