// ============================================================================
// Existing Individual Track
// ============================================================================
.mixer-track {
  position: relative;

  border: 3px solid #111;
  height: $mixer-track-height + 2px + 2px;  // Using borders as margins - account for it

  pointer-events: none;

  + .mixer-track {
    margin-top: -2px;
  }

  .active {
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 2;

      border: 1px solid #FFF;
      border-radius: 4px;
      box-shadow: 0 0 20px #FFF;
    }
  }  
}
.mixer-track-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: $mixer-track-tag;
  bottom: 0;

  border: 1px solid #F80;
  border-radius: $mixer-corner 0 0 $mixer-corner;
  background: #C60;

  pointer-events: all;
}
.mixer-track-control {
  position: absolute;
  top: 0;
  width: $mixer-track-control;
  left: $mixer-track-tag;
  bottom: 0;

  border: 1px solid #666;
  border-left: 0;
  background: #555555;

  pointer-events: all;
}
.mixer-track-name {
  margin: 4px 5px;

  font-size: 12px;
  color: #CCC;
}
.mixer-track-caret {
  position: absolute;
  top: 2px;
  right: 8px;

  font-size: 18px;
  color: #AAA;

  &:hover {
    cursor: pointer;
    color: #CCC;
  }
}
.mixer-track-gain,
.mixer-track-meter {
  position: absolute;
  left: 4px;
  height: 9px;
  right: 90px;

  border: 1px solid #111;
  background: #222;
}
.mixer-track-gain {
  bottom: 3px + 10px + 2px;
}
.mixer-track-meter {
  bottom: 4px;
}
.mixer-track-btn {
  position: absolute;
  bottom: 3px;

  border: 1px solid #222;
  border-radius: 2px;
  background: #555;
  color: #CCC;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 0;
  width: 24px;
  line-height: 20px;
  background-image: linear-gradient(to bottom, #666 0%, #555 50%, #444 100%);

  &:hover {
    border-color: #000;
    background-image: linear-gradient(to bottom, #777 0%, #555 50%, #333 100%);
  }
  &:active {
    border-color: #000;
    background-image: none;
  }
}
.mixer-track-arm {
  right: 61px;
}
.mixer-track-mute {
  right: 33px;
}
.mixer-track-solo {
  right: 5px;
}
.mixer-track-window {
  position: absolute;
  top: 0;
  left: $mixer-track-tag + $mixer-track-control;
  right: 0;
  bottom: 0;

  border: 1px solid #555;
  border-left: 0;
  border-radius: 0 $mixer-corner $mixer-corner 0;

  pointer-events: none;
  overflow: hidden;
  z-index: 1; // Hack for getting rounded corners to mask content with overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    bottom: 0;
    z-index: 2; // On top of track contents
  }

  &:before {
    left: 0;
    box-shadow:
      inset 21px 0 20px -20px #333,
      inset 11px 0  3px -10px #000;
  }

  &:after {
    right: 0;
    border-radius: 0 $mixer-corner - 1px $mixer-corner - 1px 0;
    box-shadow:
      inset -21px 0 20px -20px #333,
      inset -11px 0  3px -10px #000;
  }

  > canvas {
    width: 100%;
  }
}
.mixer-track-window-sill {
  position: absolute;
  top: 0;
  left: 11px;
  right: 6.5px;
  bottom: 0;
}
.mixer-track-window-slider {
  position: absolute;
  top: 0;
  bottom: 0;
}

// ----------------------------------------------------------------------------
// Mixer Track Clips
// ----------------------------------------------------------------------------
.mixer-track-clips {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 4px;
}
// Each note consists of 2 elements: .pianoroll-note and .pianoroll-note-label.
// This is necessary to have accurate percentage position on the wrapper and 1px offset on the child.
.mixer-track-clip {
  position: absolute;
  top: 0;
  bottom: 0;

  &:hover {
    > .mixer-track-clip-label {
      &:not(.mixer-track-clip-selected) {
        background: #FC8;
        background-image: linear-gradient(to bottom, #FC8 0%, #F80 100%);
      }
      &.mixer-track-clip-selected {
        border-color: #FA4;
        color: #FA4;
      }
    }
  }
}
.mixer-track-clip-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 1px; // Leave 1px gap between notes that are exactly adjacent
  bottom: 0;

  border-radius: 2px;
  background: #F80;
  background-image: linear-gradient(to bottom, #F80 0%, #C60 100%);
  box-shadow: 0 0 0 1px #000;

  padding: 4px 5px;
  font-size: 11px;
  line-height: 1;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  // Make sure the user clicks the
  // parent .mixer-track-clip <div>, not the label child.
  // Important so that e.target handling works.
  pointer-events: none;

  &.mixer-track-clip-selected {
    border: 1px solid #F80;
    background-image: linear-gradient(to bottom, #630 0%, #520 100%);
    color: #F80;
    padding: 3px 4px;
  }
}
@media
only screen and ( min-device-pixel-ratio: 1.3    ),
only screen and ( min-resolution:         120dpi ) {
  .mixer-track-clip-label {
    box-shadow: 0 0 1px 0.5px #000;
  }
}

// ============================================================================
// New Track Button
// ============================================================================
.mixer-track-new-wrapper {
  padding: 1px 3px 5px;
}
.mixer-track-new {
  position: relative;

  border: 1px dashed transparent;
  border-radius: $mixer-corner;
  height: $mixer-track-height;
  width: 160px;
  margin: auto;

  cursor: pointer;
  pointer-events: all;

  &:hover {
    transition: border-color .1s, background .1s, box-shadow .1s;

    border-color: #F80;
    box-shadow: 0 5px 10px #111;
    background: #111;
    width: auto;

    .mixer-track-new-body {
      transition: border-color .1s, color .1s, background .1s;

      border-color: #630;
      color: #F80;
      background: #420;
      text-shadow: none;
    }
  }
}
.mixer-track-new-body {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;

  border: 1px solid transparent;
  border-radius: $mixer-corner - 1px;
  text-align: center;
  text-shadow:
     2px  0px 10px #111,
     2px  2px 10px #111,
     0px  0px 10px #111,
     0px  2px 10px #111;
  font-size: 18px;
  color: #999;
  padding: 7px 20px 0;
  background: none;
}