$mixer-corner: 3px;
$mixer-timeline: 35px;
$mixer-track-height: 50px;
$mixer-track-tag: 8px;
$mixer-track-control: 200px;
@import './mixer-tracks.scss';

// ============================================================================
// Mixer Layout - Transport Controls
// ============================================================================
.transport {
  position: absolute;
  top: 2px;
  left: 8px;
  height: 30px;
  width: 220px;

  .btn {
    font-size: 16px;
    padding: 8px 10px 8px 11px;
  }
}

// ============================================================================
// Mixer Console
// ============================================================================
.mixer {
  position: absolute;
  top:    15px + $mixer-timeline;
  left:   15px;
  right:  35px;
  bottom: 35px;

  border: 1px solid #000;
  border-radius: $mixer-corner+3px 0 $mixer-corner+3px $mixer-corner+3px;
  background: #111;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 3; // Above .mixer-track-list
    pointer-events: none;
  }
  &:before {
    top: 0;

    border-radius: $mixer-corner+3px 0 0 0;
    box-shadow: inset 0 10px 10px -8px #000;
  }
  &:after {
    bottom: 0;

    border-radius: 0 0 $mixer-corner+3px $mixer-corner+3px;
    box-shadow: inset 0 -10px 10px -8px #000;
  }  

  > .timeline-cursor-window {
    top: -$mixer-timeline;
    left:   3px + $mixer-track-control + $mixer-track-tag;
    right:  0px;
    bottom: 0px;

    > .timeline-cursor-grid {
      top:  0px;
      left: 10px;
      right: 10px + 2px;
      bottom:  0px;
    }
  }

  > .timeline-playhead-window {
    top: -12px;
    left:   3px + $mixer-track-control + $mixer-track-tag;
    right:  0px;
    bottom: 0px;

    > .timeline-playhead-grid {
      top:  0px;
      left: 10px;
      right: 10px + 2px;
      bottom:  0px;
    }
  }
}
.mixer-disable-shadow-top {
  &:before {
    display: none;
  }
}
.mixer-disable-shadow-bottom {
  &:after {
    display: none;
  }
}

// ============================================================================
// Mixer Timeline
// ============================================================================
.mixer-timeline {
  position: absolute;
  top:   -$mixer-timeline - 1px;
  left:     3px + $mixer-track-control + $mixer-track-tag;
  right:   -1px;  // Negate the outside border
  height:  $mixer-timeline;
  z-index:  2;

  border-radius: $mixer-corner+3px $mixer-corner+3px 0 0;
  background: #222;

  > canvas {
    width: 100%;
    border-radius: $mixer-corner+3px $mixer-corner+3px 0 0;
  }

  &::after {
    content: '';
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;

    border-radius: $mixer-corner+3px $mixer-corner+3px 0 0;
    box-shadow: inset  5px 5px 5px -4px #000,
                inset -5px 5px 5px -4px #000;
    z-index: 2;   // Above Timeline Canvas
    pointer-events: none;
  }
}

// ============================================================================
// Mixer Tracks
// ============================================================================
.mixer-track-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  z-index: 2; // Above .mixer-scroll-window

  border-radius: $mixer-corner+3px 0 $mixer-corner+3px $mixer-corner+3px;
  height: 100%;

  pointer-events: none;
}
.mixer-track-list-gutter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  border-radius: $mixer-corner+3px;
  z-index: 1; // Solves unclipped border-radius bug

  pointer-events: none;
}
.mixer-empty-area {
  position: absolute;
  top: 264px;
  left: 3px + $mixer-track-control + $mixer-track-tag;
  right: 0px;
  bottom: 0px;
  z-index: 1; // Above mixer-tracks

  box-shadow: inset 0 0 20px 10px #111;
  background: rgba(17,17,17,0.5);

  pointer-events: none;
}
.mixer-window-control {
  position: absolute;
  top: 0;
  left: 3px + 1px + $mixer-track-control + $mixer-track-tag;
  right: 0;
  bottom: 0;
}
.mixer-window-display {
  position: absolute;
  top: 0;
  left: 3px + 1px + $mixer-track-control + $mixer-track-tag;
  right: 3px + 1px;
  bottom: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    bottom: 0;
  }

  &:before {
    left: 0;
    box-shadow: inset 20px 0 20px -20px #111;
  }

  &:after {
    right: 0;
    border-radius: 0 $mixer-corner $mixer-corner 0;
    box-shadow: inset -20px 0 20px -20px #111;
  }

  > canvas {
    width: 100%;
  }
}
.mixer-scroll-horizontal {
  position: absolute;
  left:     0px;
  right:   -5px;
  bottom: -20px;
  height:  20px;

  padding: 10px 0 0;
}
.mixer-scroll-vertical {
  position: absolute;
  top: 0px;
  right: -20px;
  bottom: 0px;

  padding: 0 0 0 10px;
}

// ----------------------------------------------------------------------------
// Mixer Window Focus
// ----------------------------------------------------------------------------
// The focus consists of 3 elements: 
// 1) .mixer-window-focus-grid
// 2) .mixer-window-focus-box
// 3) .mixer-window-focus-ring
// This is necessary to have accurate percentage position on the wrapper and 1px offset on the child.
.mixer-window-focus {
  position: absolute;
  top: 0;
  left: 3px + $mixer-track-control + $mixer-track-tag;
  right: 3px + 1px;
  bottom: 0;

  pointer-events: none;
  overflow: hidden;
}
.mixer-window-focus-grid {
  position: absolute;
  top: 0;
  left: 10px;
  right: 6px;
  bottom: 0;
}
.mixer-window-focus-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mixer-window-focus-ring {
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;

  border: 1px solid rgba(255,255,255,0.75);
  border-radius: 3px;
  box-shadow:
    inset 0 0 3px 1px #000,
          0 0 3px 1px #000;
}



