// ----------------------------------------------------------------------------
// Musical Typing - Computer Keyboard
// ----------------------------------------------------------------------------
.musical-typing {
  position: relative;
  width: 500px;
  margin: 10px auto;
}

.musical-typing-key {
  position: absolute;
  display: inline-block;
  width: 8.8%;
  height: 45px;

  border-radius: 6px;
  text-align: left;
  box-shadow: 0 0 3px #000;

  cursor: pointer;

  &.active,
  &:active {
    > .musical-typing-key-label {
      top: -2px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      background-image: linear-gradient(0deg, hsla(0,0,20,0.25) 0%, hsla(0,0,0,0.50) 100%);
    }
    > .musical-typing-key-symbol {
      top: -2px;
    }
  }
}
.musical-typing-key-label {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;

  border-radius: 3px;
  padding-left: 4px;
  padding-top: 15px;
  color: #888;
  font-size: 12px;
}
.musical-typing-key-white {
  top: 26px;
  height: 75px;

  border-top: 8px solid #CCC;
  border-left: 8px solid #AAA;
  border-right: 8px solid #AAA;
  border-bottom: 12px solid #888;
  background: #DDD;

  > .musical-typing-key-label {
    background-color: #DDD;
    padding-top: 45px;
  }
}
.musical-typing-key-black {
  top: 10px;
  z-index: 2;

  border-top: 8px solid #888;
  border-left: 8px solid #333;
  border-right: 8px solid #333;
  border-bottom: 12px solid #111;
  background: #555;

  > .musical-typing-key-label {
    background-color: #555;
  }
}
.musical-typing-key-aqua {
  top: 102px;
  border-top: 8px solid hsl(180, 100%, 35%);
  border-left: 8px solid hsl(180, 100%, 30%);
  border-right: 8px solid hsl(180, 100%, 30%);
  border-bottom: 12px solid hsl(180, 100%, 20%);
  background: hsl(180, 100%, 43%);

  > .musical-typing-key-label {
    background-color: hsl(180, 100%, 43%);
    color: hsl(180, 100%, 25%);
  }
}
.musical-typing-key-orange {
  top: 102px;
  border-top: 8px solid hsl(35, 50%, 45%);
  border-left: 8px solid hsl(35, 50%, 40%);
  border-right: 8px solid hsl(35, 50%, 40%);
  border-bottom: 12px solid hsl(35, 50%, 30%);
  background: hsl(35, 50%, 60%);
  width: 17.6%;

  > .musical-typing-key-label {
    background-color: hsl(35, 50%, 60%);
    color: hsl(35, 50%, 25%);
  }
}
.musical-typing-key-a     { left:  0.0%; }
.musical-typing-key-w     { left:  4.5%; }
.musical-typing-key-s     { left:  9.0%; }
.musical-typing-key-e     { left: 13.5%; }
.musical-typing-key-d     { left: 18.0%; }
.musical-typing-key-f     { left: 27.0%; }
.musical-typing-key-t     { left: 31.5%; }
.musical-typing-key-g     { left: 36.0%; }
.musical-typing-key-y     { left: 40.5%; }
.musical-typing-key-h     { left: 45.0%; }
.musical-typing-key-u     { left: 49.5%; }
.musical-typing-key-j     { left: 54.0%; }
.musical-typing-key-k     { left: 63.0%; }
.musical-typing-key-o     { left: 67.5%; }
.musical-typing-key-l     { left: 72.0%; }
.musical-typing-key-p     { left: 76.5%; }
.musical-typing-key-colon { left: 81.0%; }
.musical-typing-key-quote { left: 90.0%; }
.musical-typing-key-z     { left:  4.5%; }
.musical-typing-key-x     { left: 13.5%; }
.musical-typing-key-orange{ left: 92.5%; }
.musical-typing-key-symbol {
  position: absolute;
  top: -3px;
  right: 0px;
  height: 8px;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-align: right;
  pointer-events: none;
}
.musical-typing-octave {
  position: absolute;
  left: -55px;
  top: 115px;
  color: hsl(180, 100%, 43%);
}
