$piano-roll-corner-radius: 4px;
.piano-roll {
  position: absolute;
  top:    10px;
  left:   10px;
  right:  10px;
  bottom: 10px;
}

.piano-roll-timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 50px;
  bottom: 0;
  box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-radius: $piano-roll-corner-radius $piano-roll-corner-radius 0 $piano-roll-corner-radius;
  background: #333;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  //height: 100%; // For some reason, causes skewed aspect ratio in chrome Nov 10th 2015 (AK)
    border-radius: $piano-roll-corner-radius 0 $piano-roll-corner-radius $piano-roll-corner-radius;
  }
}
.piano-roll-keyboard {
  position: absolute;
  top: 50px;
  width: 50px;
  right: 0;
  bottom: 0;
  box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-left: 0;
  border-radius: 0 $piano-roll-corner-radius $piano-roll-corner-radius 0;
  background: #333;
}
.piano-roll-scroll-zone {
  position: absolute;
  height: 30px;
  left: 1px;
  right: 50px + 1px;
  bottom: 1px;
  background-image: linear-gradient(to bottom, transparent 0%, #484848 50%);
  border-radius: 0 0 0 4px;

  transition: height 0.5s;
  transition-delay: 1s;

  &:hover {
    height: 40px;
    transition: height 0.125s;
    transition-delay: 0s;

    .piano-roll-scroll-gutter {
      border-radius: 3px;
      height: 16px;
      transition: height 0.125s, border-radius 0.125s;
      transition-delay: 0s;
    }
    .piano-roll-scroll-bar {
      border-radius: 2px;
      transition: border-radius 0.125s;
      transition-delay: 0s;

      &:before,
      &:after {
        border-color: #222;
        transition: border-color 0.125s;
        transition-delay: 0s;
      }
    }
  }  
}
$piano-roll-scroll-corner-radius: 6px;
.piano-roll-scroll-gutter {
  position: absolute;
  height: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: inset 0 2px 8px #000,
              0 0 10px rgba(0,0,0,0.25);
  border-radius: $piano-roll-scroll-corner-radius;
  background: #222;

  transition: height 0.5s, border-radius 0.5s;
  transition-delay: 1s;

  &:hover {
    border-radius: 2px;
    height: 16px;
    transition: height 0.125s, border-radius 0.125s;
    transition-delay: 0s;

    .piano-roll-scroll-bar {
      border-radius: 2px;
      transition: border-radius 0.125s;
      transition-delay: 0s;

      &:before,
      &:after {
        border-color: #222;
        transition: border-color 0.125s;
        transition-delay: 0s;
      }
    }
  }
}
.piano-roll-scroll-bar {
  position: absolute;
  top: 1px;
  left: 10%;
  right: 40%;
  bottom: 1px;
  box-shadow: 0 0 3px #000,
        inset 0 -3px 4px rgba(  0,   0,   0, 0.125),
        inset 0  3px 4px rgba(255, 255, 255, 0.125);
  border-radius: $piano-roll-scroll-corner-radius;
  background: #555;
  background-image: linear-gradient(to left, #666, #777, #666);

  transition: border-radius 0.5s;
  transition-delay: 1s;  

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 3px;
    z-index: 2;
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0;

    transition: border-color 0.5s;
    transition-delay: 1s;
  }
  &:before { left:  2px; }
  &:after  { right: 2px; }
}
.piano-roll-scroll-min,
.piano-roll-scroll-max {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7px;
  z-index: 3;

  &:hover {
    cursor: move;
  }
}
.piano-roll-scroll-min { left:  0; }
.piano-roll-scroll-max { right: 0; }
