$piano-roll-corner-radius: 4px;
.piano-roll {
  position: absolute;
  top:    10px;
  left:   10px;
  right:  10px;
  bottom: 10px;
}

.piano-roll-timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 0;
//box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-radius: $piano-roll-corner-radius $piano-roll-corner-radius 0 $piano-roll-corner-radius;
  background: #333;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  //height: 100%; // For some reason, causes skewed aspect ratio in chrome Nov 10th 2015 (AK)
    border-radius: $piano-roll-corner-radius 0 $piano-roll-corner-radius $piano-roll-corner-radius;
  }
}
.piano-roll-keyboard {
  position: absolute;
  top: 40px;
  width: 100px;
  right: 0;
  bottom: 0;
  box-sizing: content-box;
//box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-left: 0;
  border-radius: 0 $piano-roll-corner-radius $piano-roll-corner-radius 0;
  background: #333;
  overflow: hidden;
}
.piano-roll-keybed {
  position: relative;
  height: 1047px;
  width: 104.7px;
}
$num-keys:  88.00;
$key-thickness: percentage(1/$num-keys);
$key-thickness-margin: $key-thickness * 10; // Used for margins, which are are calculated based off of width rather than height.
.piano-roll-key {
  display: block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 0px;
  height: $key-thickness;
  width: 100%;

  &.white {
    border: 1px solid #000;
    background: #CCC;
    background-image: linear-gradient(90deg, #999 25%, #DDD 26%, #BBB 100%);
    z-index: 5;   // Above the shadow but below the black keys
    height: 1.75*$key-thickness;   // Make white keys thicker
    border-top-width: 0px;
    border-radius: 0 3px 3px 0;

    &.active,
    &:active {
      background: #999;
      background-image: linear-gradient(90deg, #888 22%, #CCC 23%, #AAA 100%);
      box-shadow: inset 0 1px 3px 2px #555
    }
  }
  &.black {
    border: solid #222;
    border-width: 2px 6px 2px 15px;
    border-radius: 0 2px 2px 0;
    background: #555;
    z-index: 10;  // Above the black keys
    box-shadow: 1px 1px 1px #888;
    height: $key-thickness;    // ...try to cut a pixel off of black keys to prevent asymmetry
    width: 69%;

    // Overlap the adjacent white keys (different amounts depending on where they are on the scale)
    margin: -0.5*$key-thickness-margin 0px -0.5*$key-thickness-margin 0px;
    &.higher {
      margin: -0.75*$key-thickness-margin 0px -0.25*$key-thickness-margin 0px;
    }
    &.lower {
      margin: -0.25*$key-thickness-margin 0px -0.75*$key-thickness-margin 0px;
    }

    &.active,
    &:active {
      border-color: #000;
      border-width: 2px 8px 2px 12px;
      background: #444;
      box-shadow: none;
    }
  }

  &:first-child {
    height: 1.07 * $key-thickness;
  }

  &.thinner {
    height: 1.5 * $key-thickness;     // Certain white keys are sandwiched slightly differently to maintain proportions
  }

  &:last-child {
    height: 1.300 * $key-thickness;
  }
}


.piano-roll-scroll-zone {
  position: absolute;
  height: 30px;
  left: 1px;
  right: 100px + 1px;
  bottom: 1px;
  background-image: linear-gradient(to bottom, transparent 0%, #464646 50%);
  border-radius: 0 0 0 4px;

  transition: height 0.5s;
  transition-delay: 1s;

  &:hover {
    height: 40px;
    transition: height 0.125s;
    transition-delay: 0s;
  }  
}
