$piano-roll-corner-radius: 4px;
.piano-roll {
  position: absolute;
  top:    10px;
  left:   10px;
  right:  10px;
  bottom: 10px;
}

.piano-roll-timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 50px;
  bottom: 0;
  box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-radius: $piano-roll-corner-radius $piano-roll-corner-radius 0 $piano-roll-corner-radius;
  background: #333;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  //height: 100%; // For some reason, causes skewed aspect ratio in chrome Nov 10th 2015 (AK)
    border-radius: $piano-roll-corner-radius 0 $piano-roll-corner-radius $piano-roll-corner-radius;
  }
}
.piano-roll-keyboard {
  position: absolute;
  top: 40px;
  width: 50px;
  right: 0;
  bottom: 0;
  box-shadow: 0 -1px 3px #000, 0 1px 3px #FFF;
  border: 1px solid #000;
  border-left: 0;
  border-radius: 0 $piano-roll-corner-radius $piano-roll-corner-radius 0;
  background: #333;
}
.piano-roll-scroll-zone {
  position: absolute;
  height: 30px;
  left: 1px;
  right: 50px + 1px;
  bottom: 1px;
  background-image: linear-gradient(to bottom, transparent 0%, #464646 50%);
  border-radius: 0 0 0 4px;

  transition: height 0.5s;
  transition-delay: 1s;

  &:hover {
    height: 40px;
    transition: height 0.125s;
    transition-delay: 0s;
  }  
}
