.rack-container {
  background: #222020;
  position: absolute;
  left: 45px;
  right: 0;
  bottom: 0;
  top: 0;
}

.rack-select-track {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 45px;
  right: 0;
  bottom: 0;
  top: 0;
}
