$scroll-corner-radius: 6px;
.scroll-gutter {
  position: relative;
  box-shadow: inset 0 2px 8px #000,
              0 0 10px rgba(0,0,0,0.25);
  border-radius: $scroll-corner-radius;
  background: #222;

  &.scroll-draggable-endpoints {
    &.hover,
    &:hover {
      border-radius: 2px;
      transition-delay: 0s;

      .scroll-bar {
        border-radius: 2px;
        transition: border-radius 0.125s;
        transition-delay: 0s;

        &:before,
        &:after {
          border-color: #222;
          transition: border-color 0.125s;
          transition-delay: 0s;
        }
      }
    }
  }
}
.scroll-horizontal {
  height: 10px;
  width: 100%;

  transition: height 0.5s, border-radius 0.5s;
  transition-delay: 1s;

  &.scroll-draggable-endpoints {
    &.hover,
    &:hover {
      height: 16px;
      transition: height 0.125s, border-radius 0.125s;
    }
  }
}
.scroll-vertical {
  height: 100%;
  width: 10px;

  transition: width 0.5s, border-radius 0.5s;
  transition-delay: 1s;

  &.scroll-draggable-endpoints {
    &.hover,
    &:hover {
      width: 16px;
      transition: width 0.125s, border-radius 0.125s;
    }
  }
}
.scroll-bar {
  position: absolute;

  border-radius: $scroll-corner-radius;
  background: #555;

  transition: border-radius 0.5s;
  transition-delay: 1s;  

  &:before,
  &:after {
    content: "";
    display: none;
    position: absolute;
    z-index: 2;

    border: 1px solid transparent;

    transition: border-color 0.5s;
    transition-delay: 1s;
  }
}
.scroll-draggable-endpoints {
  .scroll-bar {
    &:before,
    &:after {
      display: block;
    }
  }
}
.scroll-horizontal {
  > .scroll-bar {
    top: 1px;
    bottom: 1px;

    box-shadow: 0 0 3px #000,
          inset 0 -3px 4px rgba(  0,   0,   0, 0.125),
          inset 0  3px 4px rgba(255, 255, 255, 0.125);
    background-image: linear-gradient(to left, #666, #777, #666);

    transition: border-radius 0.5s;
    transition-delay: 1s;  

    &:before,
    &:after {
      top: 2px;
      bottom: 2px;
      width: 3px;

      border-top: 0;
      border-bottom: 0;
    }
    &:before { left:  2px; }
    &:after  { right: 2px; }
  }
}
.scroll-vertical {
  > .scroll-bar {
    left: 1px;
    right: 1px;

    box-shadow: 0 0 3px #000,
          inset 0 -3px 4px rgba(  0,   0,   0, 0.125),
          inset 0  3px 4px rgba(255, 255, 255, 0.125);
    background-image: linear-gradient(to left, #666, #777, #666);

    transition: border-radius 0.5s;
    transition-delay: 1s;  

    &:before,
    &:after {
      left: 2px;
      right: 2px;
      height: 3px;

      border-left: 0;
      border-right: 0;
    }
    &:before { top:  2px; }
    &:after  { bottom: 2px; }
  }
}

.scroll-min,
.scroll-max {
  display: none;
  position: absolute;
  z-index: 3;
}

.scroll-draggable-endpoints {
  .scroll-min,
  .scroll-max {
    display: block;
  }
}

.scroll-horizontal {
  .scroll-min,
  .scroll-max {
    top: 0;
    bottom: 0;
    width: 7px;
  }
  .scroll-min { left:  0; cursor: url(img/cursor-left-edge.ico)  0 8, ew-resize; }
  .scroll-max { right: 0; cursor: url(img/cursor-right-edge.ico) 8 8, ew-resize; }
}
.scroll-vertical {
  .scroll-min,
  .scroll-max {
    left: 0;
    right: 0;
    height: 7px;
  }
  .scroll-min { top:    0; cursor: url(img/cursor-top-edge.ico)    8 0, ns-resize; }
  .scroll-max { bottom: 0; cursor: url(img/cursor-bottom-edge.ico) 8 8, ns-resize; }
}
