@import './cursor.scss';

$scrollbar-corner-radius: 6px;
.scrollbar-gutter {
  position: relative;
  box-shadow: inset 0 2px 8px #000,
              0 0 10px rgba(0,0,0,0.25);
  border-radius: $scrollbar-corner-radius;
  background: #222;

  pointer-events: all;

  transition: margin 0.5s, height 0.5s, border-radius 0.5s;
  transition-delay: 1s;

  &.scrollbar-draggable-endpoints {
    &.hover,
    &:hover {
      border-radius: 2px;
      transition-delay: 0s;

      .scrollbar-bar {
        border-radius: 2px;
        transition: border-radius 0.125s;
        transition-delay: 0s;

        &:before,
        &:after {
          border-color: #222;
          transition: border-color 0.125s;
          transition-delay: 0s;
        }
      }
    }
  }
}
.scrollbar-horizontal {
  height: 10px;
  width: 100%;

  &.scrollbar-draggable-endpoints {
    &.hover,
    &:hover {
      margin-top: -4px;
      height: 16px;
      transition: margin 0.125s, height 0.125s, border-radius 0.125s;
    }
  }
}
.scrollbar-vertical {
  height: 100%;
  width: 10px;

  &.scrollbar-draggable-endpoints {
    &.hover,
    &:hover {
      margin-right: -4px;
      width: 16px;
      transition: margin 0.125s, width 0.125s, border-radius 0.125s;
    }
  }
}
.scrollbar-bar {
  position: absolute;

  border-radius: $scrollbar-corner-radius;
  background: #555;

  transition: border-radius 0.5s;
  transition-delay: 1s;  

  &:before,
  &:after {
    content: "";
    display: none;
    position: absolute;
    z-index: 2;

    border: 1px solid transparent;

    transition: border-color 0.5s;
    transition-delay: 1s;
  }
}
.scrollbar-draggable-endpoints {
  .scrollbar-bar {
    &:before,
    &:after {
      display: block;
    }
  }
}
.scrollbar-horizontal {
  > .scrollbar-bar {
    top: 1px;
    bottom: 1px;
    min-width: 20px;

    box-shadow: 0 0 3px #000,
          inset 0 -3px 4px rgba(  0,   0,   0, 0.125),
          inset 0  3px 4px rgba(255, 255, 255, 0.125);
    background-image: linear-gradient(to left, #666, #777, #666);

    transition: border-radius 0.5s;
    transition-delay: 1s;  

    &:before,
    &:after {
      top: 2px;
      bottom: 2px;
      width: 3px;

      border-top: 0;
      border-bottom: 0;
    }
    &:before { left:  2px; }
    &:after  { right: 2px; }
  }
}
.scrollbar-vertical {
  > .scrollbar-bar {
    left: 1px;
    right: 1px;
    min-height: 20px;

    box-shadow: 0 0 3px #000,
          inset 0 -3px 4px rgba(  0,   0,   0, 0.125),
          inset 0  3px 4px rgba(255, 255, 255, 0.125);
    background-image: linear-gradient(to left, #666, #777, #666);

    transition: border-radius 0.5s;
    transition-delay: 1s;  

    &:before,
    &:after {
      left: 2px;
      right: 2px;
      height: 3px;

      border-left: 0;
      border-right: 0;
    }
    &:before { top:  2px; }
    &:after  { bottom: 2px; }
  }
}

.scrollbar-min,
.scrollbar-max {
  display: none;
  position: absolute;
  z-index: 3;
}

.scrollbar-draggable-endpoints {
  .scrollbar-min,
  .scrollbar-max {
    display: block;
  }
}

.scrollbar-horizontal {
  .scrollbar-min,
  .scrollbar-max {
    top: 0;
    bottom: 0;
    width: 7px;
  }
  .scrollbar-min { left:   0; @include cursor-left(); }
  .scrollbar-max { right:  0; @include cursor-right(); }
}
.scrollbar-vertical {
  .scrollbar-min,
  .scrollbar-max {
    left: 0;
    right: 0;
    height: 7px;
  }
  .scrollbar-min { top:    0; @include cursor-top(); }
  .scrollbar-max { bottom: 0; @include cursor-bottom(); }
}
