// This file contains all CSS for newsfeed items (a.k.a. stories)
$story-corner: 5px;

// ============================================================================
// Phrase Cards
// ============================================================================
.story-phrase {
  position: relative;
  padding: 15px;
  border-top: 1px solid #DDD;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #DDD;
  margin-top: -1px;

  &:first-child {
    margin-top: 0;
    border-top-color: transparent;
  }

  &:last-child {
    border-bottom: 0;
  }

  .story-contributors {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .story-track-name {
    margin-bottom: 3px;
    font-weight: normal;
    line-height: 1.2;
  }

  // Rephrase button
  &:hover {
    .story-phrase-rephrase {
      @extend .btn-bright;
    }
  }

  &.active {
    border-color: #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    background: #DDD;
    z-index: 2;
  }
  &:hover,
  &.selected {
    background: #F8F8F8;

    &.active {
      background: lighten($input-border-focus, 20%);
    }
  }
}
.stories {
  .story-phrase:active,
  &:focus .story-phrase.active {
    border-color: $input-border-focus;
    border-left: 1px solid $input-border-focus;
    border-right: 1px solid $input-border-focus;
    background: lighten($input-border-focus, 20%);
    z-index: 2;
  }
}
.story-phrase-transport {
  float: left;
  margin-right: 10px;
}
.story-phrase-play {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.story-phrase-info {
  // display: table-cell; // Needed to offset against button/pic on the left
}
.story-phrase-rephrase {
  border-color: transparent;
  box-shadow: none;
  background: none;
  color: #888;
  text-shadow: none;
}
.story-phrase-tags {
  margin-top: 5px;
  line-height: 1;
}

// ============================================================================
// Story Components
// ============================================================================
.stories {
  padding-left: 0;
  margin: 0;
  outline: none;
}
.story {
  list-style: none;

  margin-bottom: 15px;
}
.story-with-action {
  border: 1px solid #CCC;
  border-radius: $story-corner;
  padding: 10px 12px 12px;
  background: #FFF;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.story-action {
  margin-bottom: 10px;

  font-size: 12px;
  color: #888;
}
.story-user {
  display: inline-block;
}
.story-user-photo {
  position: relative;
  display: inline-block;
  width:  18px;
  height: 18px;

  border-radius: 50%;
}
.story-user-name {
  font-weight: bold;
  color: #888;

  vertical-align: middle;
  line-height: 18px;
}
.story-user-action {
  color: #888;

  vertical-align: middle;
  line-height: 18px;
}
.story-user-timestamp {
  color: #888;

  vertical-align: middle;
  line-height: 18px;
}

.story-tag {
  font-size: 11px;
  color: #888;

  &::before {
    content: '#';
  }

  + .story-tag {
    padding-left: 8px;
  }
}

$story-track-cover: 80px;
.story-track {
  position: relative;
  padding: 6px;
  padding-left: $story-track-cover + 8px;
  padding-right: 15px;
  height: $story-track-cover;

  background: #F2F2F2;
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 1px solid #CCC;
    border-radius: $story-corner;

    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $story-track-cover;
    bottom: 0;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: $story-corner 0 0 $story-corner;
  }
}
.story-track-cover {
  position: absolute;
  top: 0;
  left: 0;
  width:  $story-track-cover; // 1px for border
  height: $story-track-cover;

  border-radius: $story-corner 0 0 $story-corner;
}
.story-track-name {
  margin: 0 0 8px;
  width: 100%;

  font-size: 18px;
  // font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.story-contributors {
  font-size: 12px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.story-contributors-address {
  vertical-align: middle;
  line-height: 18px;
}
.story-stats {
  margin-top: 8px;

  font-size: 12px;
  color: #888;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .fa {
    color: #CCC;
  }
}
.story-stats-plays,
.story-stats-likes,
.story-stats-comments {
  margin-right: 10px;
}
