// ============================================================================
// User Profile
// ============================================================================
.user-profile-pic {
  float: left;
  position: relative;
  margin-right: 15px;

  > img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 50%;
  }
}
.user-profile-pic-verified {
  position: absolute;
  z-index: 2;

  right: 4px;
  bottom: 4px;
  border: 3px solid #EEE;
  border-radius: 50%;
  padding: 2px;
  background: #4AF;
  font-size: 11px;
  color: #FFF;
}
.user-profile-username {
  margin-top: 7px;
  font-size: 24px;
  margin-bottom: 8px;
}
.user-profile-action {
  font-size: 12px;
  padding: 4px 8px;
}
.user-profile-action-count {
  &::before {
    content: '';
    border-left: 1px solid #555;
    height: 5px;
    margin: 0 8px;
  }
}

.user-bubble {
  position: relative;
  display: inline-block;
  width:  28px;
  height: 28px;

  border: 1px solid #000;
  border-radius: 50%;
  background: #688;
  font-size: 12px;
  text-align: center;
  line-height: 26px;

  margin-right: 4px;

  cursor: pointer;

  .signal {
    position: absolute;
    top: -2px;
    right: -2px;
    margin: 0;
  }

  &.author {
    background: #2b3fa8;
  }

  &.observer {
    background: #838866;
  }

  & .master-control-icon {
    color: #cbd41f;
    position: absolute;
    top: -2px;
    left: -2px;
    margin: 0;
  }

  & .master-control-loading {
    color: #cbebe5;
    position: absolute;
    top: -2px;
    left: -2px;
    margin: 0;
  }
}
.user-username {
  padding-right: 5px;
  color: #FFF;
  font-weight: bold;
}
.user-collaborator-list {
  list-style: none;
  margin: 10px 0 15px;
  padding: 0 0 0 15px;

  > li {
    margin-top: 5px;

    > .user-username {
      color: #333;
      font-weight: normal;
      font-size: 12px;
    }
  }
}
