// ============================================================================
// Authentication Wall (You must login to view this page)
// ============================================================================
.authentication-wall {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #333;
  background-image: url(img/producer-using-phrase.jpg);
  background-size: cover;
  background-position: center;

  padding: 30px 10px;
}
.authentication-wall-notice {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.authentication-wall-modal {
  width: 300px;
  margin: auto;
}
.authentication-wall-footer {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-weight: 300;

  a {
    color: hsl(180,100%,50%);
  }
}
.authentication-wall-logo {
  margin: 60px 0 10px;
  width: 120px;
}
