$headings-font-family: Roboto, $font-family-sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);
@import "./img/phrase-icons/css/phrase-icons.css";

.separator-bullet {
  position: relative;
  top: 1px;

  font-weight: bold;
  padding: 0 2px;
}
