
// ============================================================================
// Toast Notifications
// ============================================================================
.toast-notifications {
  position: absolute;
  z-index: 1051;
}

.notification-bar-title {
  font-size: 14px;
}

.notification-bar-message {
  font-size: 12px;
}

.notification-bar-action {
  font-size: 11px !important;
}
