// Plugins

#Plugin__Polly {
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(80,149,168,1) 41%, rgba(73,142,161,1) 53%, rgba(71,140,160,1) 56%, rgba(44,115,135,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(80,149,168,1)), color-stop(53%, rgba(73,142,161,1)), color-stop(56%, rgba(71,140,160,1)), color-stop(100%, rgba(44,115,135,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(80,149,168,1) 41%, rgba(73,142,161,1) 53%, rgba(71,140,160,1) 56%, rgba(44,115,135,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(80,149,168,1) 41%, rgba(73,142,161,1) 53%, rgba(71,140,160,1) 56%, rgba(44,115,135,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(80,149,168,1) 41%, rgba(73,142,161,1) 53%, rgba(71,140,160,1) 56%, rgba(44,115,135,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(80,149,168,1) 41%, rgba(73,142,161,1) 53%, rgba(71,140,160,1) 56%, rgba(44,115,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#2c7387', GradientType=1 );


  button:focus,
  button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s ease;
    outline: none;
  }
  button.active,
  button:hover {
    background: rgb(227, 227, 227);
    text-shadow: 0 0 16px rgb(62, 211, 244);
  }
}

#Plugin__Delay {
  button:focus,
  button {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s ease;
    outline: none;
  }
  button.active,
  button:hover {
    background: rgb(227, 227, 227);
    text-shadow: 0 0 16px rgb(62, 211, 244);
  }
}


#Plugin__Sampler {
  background: rgba(176,41,86,1);
  background: -moz-linear-gradient(left, rgba(176,41,86,1) 0%, rgba(182,47,81,1) 46%, rgba(183,48,80,1) 56%, rgba(189,53,75,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176,41,86,1)), color-stop(46%, rgba(182,47,81,1)), color-stop(56%, rgba(183,48,80,1)), color-stop(100%, rgba(189,53,75,1)));
  background: -webkit-linear-gradient(left, rgba(176,41,86,1) 0%, rgba(182,47,81,1) 46%, rgba(183,48,80,1) 56%, rgba(189,53,75,1) 100%);
  background: -o-linear-gradient(left, rgba(176,41,86,1) 0%, rgba(182,47,81,1) 46%, rgba(183,48,80,1) 56%, rgba(189,53,75,1) 100%);
  background: -ms-linear-gradient(left, rgba(176,41,86,1) 0%, rgba(182,47,81,1) 46%, rgba(183,48,80,1) 56%, rgba(189,53,75,1) 100%);
  background: linear-gradient(to right, rgba(176,41,86,1) 0%, rgba(182,47,81,1) 46%, rgba(183,48,80,1) 56%, rgba(189,53,75,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b02956', endColorstr='#bd354b', GradientType=1 );
}

#Plugin__Piano {
  background:  url('img/piano_cover.jpg');
  background-size: cover;
}
