
      </table>
      <!-- Email Body : END -->

      <!-- Email Footer : BEGIN -->
      <table class="footer max-width" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
        <tr>
          <td>
            © 2016 Phrase Technologies
          </td>
        </tr>
      </table>
      <!-- Email Footer : END -->

      <!--[if mso]>
      </td>
      </tr>
      </table>
      <![endif]-->
    </div>
  </center>
</body>
</html>
